html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: #eee;
    color: #222;
    font-family: Verdana, sans-serif;
    padding: 8px;
}

.page-container {
    margin: 16px auto;
    width: 100%;
    max-width: 900px;
}

h1 {
    text-align: center;
}

li {
    margin: 8px 0 8px 0;
}

ul, ol {
    padding: 8px;
    margin: 20px 35px;
}

.list-container {
    background-color: #FFC0CB;
    border-radius: 12px;
    border: 5px solid #222;
}

.bullet-list {
    font-weight: bold;
}