html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: #eee;
    color: #222;
    font-family: Verdana, sans-serif;
    padding: 8px;
}

li {
    margin: 8px 0 8px 0;
}

ul {
    padding: 8px;
    margin: 20px;
}

.list {
    background-color: #FFC0CB;
    border-radius: 5px;
}