html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: #eee;
    color: #222;
    font-family: Verdana, sans-serif;
    padding: 8px;
}

.page-container {
    margin: 16px auto;
    width: 100%;
    max-width: 900px;
}

h1 {
    text-align: center;
}

.image {
    display: block;
    border: 5px solid #222;
    border-radius: 12px;
    margin: 16px auto 30px auto;
}

li {
    margin: 8px 0 8px 0;
}

ul, ol {
    padding: 8px;
    margin: 20px 28px 20px 35px;
}

.container {
    border-radius: 12px;
    border: 5px solid #222;
}

.bullet-list {
    background-color: #FFC0CB;
    font-weight: bold;
}

p {
    margin: 20px;
}

.ingredients-background {
    background-color: #FDFD96;
}

.description-background {
    background-color: #FFC0CB;
}

.method-background {
    background-color: #C4A1FF;
}

.recipe-notes-background {
    background-color: #BAFCA2;
}